.about {
  .about-bg {
    img {
      width: 100%;
    }
  }

  .company {
    text-align: center;
    width: 12remx;
    margin: 0.5rem auto;
    .company-title {
      font-size: 0.36rem;
    }
    .company-note {
      margin-top: 0.5rem;
      span {
        color: #999;
      }
    }
  }

  .culture {
    text-align: center;
    width: 12rem;
    margin: 0.5rem auto;

    .culture-title {
      font-size: 0.36rem;
    }
    ul {
      display: flex;
      justify-content: space-between;
      margin-top: 0.4rem;
      color: #fff;
      li {
        width: 2.8rem;
        background-color: #aaa;
        padding: 0.3rem 0;
        cursor: pointer;
        &:hover {
          background-color: $theme;
        }
        img {
          // margin-top: 20px;
        }
        p {
          margin-top: 0.08rem;
          &:nth-child(2) {
            font-size: 0.18rem;
          }
          &:nth-child(3) {
          }
        }
      }
    }
  }
}
