.home {
  /deep/ .el-carousel {
    width: 100%;
    .el-carousel__container {
      height: 6rem;
      img {
        width: 100%;
      }

      @media screen and (max-width: 1300px) {
        height: 5rem;
      }
      @media screen and (max-width: 1080px) {
        height: 4rem;
      }
      @media screen and (max-width: 880px) {
        height: 3rem;
      }
      @media screen and (max-width: 640px) {
        height: 5rem;
      }
      @media screen and (max-width: 550px) {
        height: 4rem;
      }
      @media screen and (max-width: 450px) {
        height: 3rem;
      }
    }
  }

  .home-data {
    max-width: 12rem;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    ul {
      display: flex;
      padding: 0.5rem 0;
      flex-wrap: wrap;
      li {
        width: 25%;
        display: flex;
        transition: transform 0.5s;
        &:hover {
          transform: translateY(-0.1rem);
        }
        .iconfont {
          font-size: 0.7rem;
          color: #999;
        }
        .data-text {
          margin-left: 0.3rem;
          .data-text-num {
            font-size: 0.36rem;
            color: $theme;
          }
          .data-text-note {
            color: #999;
            margin-top: 0.1rem;
          }
        }
      }
    }

    @media screen and (max-width: 992px) {
      ul {
        li {
          display: block;
          text-align: center;

          .data-text {
            margin-left: 0;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      ul {
        li {
          width: 50%;
          &:nth-child(n + 3) {
            margin-top: 0.2rem;
          }
        }
      }
    }

    @media screen and (max-width: 520px) {
      ul {
        li {
          .iconfont {
            font-size: 0.4rem;
          }
          .data-text {
            .data-text-num {
              font-size: 0.3rem;
            }
          }
        }
      }
    }
  }

  .service {
    max-width: 12rem;
    margin: 0.4rem auto 0 auto;
    text-align: center;
    .service-title {
      font-size: 0.34rem;
    }
    .service-note {
      color: #999;
      margin-top: 0.2rem;
      padding: 0 0.2rem;
    }
    .service-data {
      margin-top: 0.3rem;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          width: 25%;
          &:hover {
            .service-img {
              transform: translateY(-0.08rem);
            }
            .me-base-btn {
              background-color: $theme;
              color: #fff;
              border: 1px solid transparent;
            }
          }
          .service-img {
            transition: all 0.3s;
            width: 0.6rem;
          }
          .service-li-title {
            font-size: 18px;
            margin: 0.15rem 0;
            color: #666;
          }
          .service-li-text {
            margin-bottom: 0.1rem;
            color: #666;
            font-size: 0.14rem;
          }
          .me-base-btn {
            margin: 0.2rem auto;
          }
        }
      }
    }

    @media screen and (max-width: 992px) {
      .service-title {
        font-size: 0.3rem;
      }
      .service-note {
      }
      .service-data {
        ul {
          li {
            width: 50%;
          }
        }
      }
    }

    @media screen and (max-width: 520px) {
      .service-title {
        font-size: 0.26rem;
      }
      .service-note {
        font-size: 0.14rem;
      }
      .service-data {
        ul {
          li {
            width: 100%;
          }
        }
      }
    }
  }

  .scene {
    max-height: 8rem;
    margin-top: 0.4rem;
    padding-top: 0.4rem;
    padding-bottom: 0.1rem;
    position: relative;
    &:before {
      content: "";
      background: url("~@/assets/imgs/home_bg.jpg") no-repeat;
      background-size: cover;
      // opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      // filter: blur(2px);
    }

    .scene-title {
      font-size: 0.34rem;
      color: #fff;
      text-align: center;
    }
    .scene-note {
      color: #ccc;
      margin-top: 0.2rem;
      text-align: center;
      padding: 0 0.2rem;
    }
    .scene-way {
      margin-top: 0.5rem;
      ul {
        display: flex;
        justify-content: center;
        li {
          width: 2.4rem;
          height: 0.8rem;
          border-radius: 0.08rem;
          background-color: rgba(255, 255, 255, 0.2);
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 0.7rem;
          transition: all 0.5s;
          cursor: pointer;
          &:hover,
          &.active {
            background-color: $theme;
          }
          img {
            width: 0.6rem;
          }
          .scene-way-right {
            margin-left: 0.1rem;
            font-size: 0.18rem;
          }
        }
      }
    }

    .scene-content {
      max-width: 12rem;
      margin: 0.5rem auto;
      overflow: hidden;
      // height: 4rem;
      // border: 1px solid #f00;
      ul {
        transition: all 0.5s;
        li {
          display: flex;
          flex-wrap: wrap;
          &:hover {
            .scene-content-left {
              img {
                transform: scale(1.03, 1.03);
              }
            }
            .scene-content-right {
              .scene-content-title {
                color: $theme;
              }
            }
          }

          .scene-content-left {
            flex: 3;
            img {
              transition: all 0.3s;
              width: 90%;
              margin-left: 0.8rem;
            }
          }
          .scene-content-right {
            flex: 2;
            margin-left: 0.5rem;
            padding-right: 0.5rem;
            .scene-content-title {
              transition: all 0.3s;
              font-size: 0.34rem;
              font-weight: bold;
              color: #fff;
              margin-top: 0.4rem;
            }
            .scene-content-note {
              color: #ddd;
              margin-top: 0.3rem;
              line-height: 0.26rem;
            }
            .me-btn {
              margin-top: 0.6rem;
            }
          }
        }
      }
    }

    @media screen and (max-width: 992px) {
      .scene-title {
        font-size: 0.3rem;
      }
      .scene-note {
      }
      .scene-way {
        ul {
          li {
            width: 2.2rem;
            height: 0.6rem;
            margin-left: 0.3rem;
            img {
              width: 0.5rem;
            }
            .scene-way-right {
              font-size: 0.14rem;
            }
          }
        }
      }

      .scene-content {
        margin: 0.5rem auto;
        ul {
          li {
            .scene-content-right {
              margin-left: 0.5rem;
              padding-right: 0.5rem;
              .scene-content-title {
                font-size: 0.28rem;
                margin-top: 0.4rem;
              }
              .scene-content-note {
                margin-top: 0.2rem;
                font-size: 0.14rem;
              }
              .me-btn {
                margin-top: 0.4rem;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 880px) {
      .scene-way {
        ul {
          li {
            width: 1.8rem;
            height: 0.6rem;
            margin-left: 0.2rem;
            img {
              width: 0.4rem;
            }
            .scene-way-right {
              font-size: 0.14rem;
            }
          }
        }
      }
      .scene-content {
        ul {
          li {
            .scene-content-left {
              flex: 3;
              img {
                width: 100%;
                margin-left: 0.3rem;
              }
            }
            .scene-content-right {
              margin-left: 0.5rem;
              padding-right: 0.5rem;
              .scene-content-title {
                font-size: 0.2rem;
                margin-top: 0.2rem;
              }
              .scene-content-note {
                margin-top: 0.1rem;
                font-size: 0.12rem;
              }
              .me-btn {
                margin-top: 0.3rem;
                height: 0.36rem;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 660px) {
      .scene-content {
        ul {
          li {
            .scene-content-left {
              flex: 2;
              img {
                width: 100%;
                margin-left: 0.3rem;
              }
            }
            .scene-content-right {
              margin-left: 0.5rem;
              padding-right: 0.2rem;
              .scene-content-title {
                font-size: 0.16rem;
                margin-top: 0.2rem;
              }
              .scene-content-note {
                margin-top: 0.1rem;
                font-size: 0.12rem;
                line-height: 0.2rem;
              }
              .me-btn {
                margin-top: 0.1rem;
                height: 0.3rem;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 520px) {
      .scene-title {
        font-size: 0.26rem;
      }
      .scene-note {
        font-size: 0.12rem;
      }
      .scene-way {
        ul {
          li {
            width: 1rem;
            height: 0.5rem;
            margin-left: 0.2rem;

            img {
              display: none;
            }
            .scene-way-right {
              margin-left: 0;
              font-size: 0.12rem;
              text-align: center;
            }
          }
        }
      }
      .scene-content {
        ul {
          li {
            text-align: center;
            > div {
              width: 100%;
            }
            .scene-content-left {
              flex: none;

              img {
                width: 80%;
                margin-left: 0;
              }
            }
            .scene-content-right {
              flex: none;
              margin-left: 0;
              padding: 0 0.2rem;
              .scene-content-title {
                font-size: 0.18rem;
                margin-top: 0.2rem;
              }
              .scene-content-note {
                margin-top: 0.1rem;
                font-size: 0.12rem;
                line-height: 0.2rem;
              }
              .me-btn {
                margin-top: 0.1rem;
                height: 0.3rem;
                margin: 0.2rem auto;
              }
            }
          }
        }
      }
    }
  }

  .brand {
    max-width: 12rem;
    margin: 0.4rem auto 0.6rem auto;
    text-align: center;
    .brand-title {
      font-size: 0.34rem;
    }
    .brand-note {
      color: #999;
      margin-top: 0.2rem;
      padding: 0 0.2rem;
    }
    .brand-list {
      margin: 0.6rem 0.3rem;
      ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li {
          width: 18.8%;
          height: 2.8rem;
          border-radius: 0.08rem;
          padding: 0.3rem 0.1rem;
          position: relative;
          background-color: rgba(0, 0, 0, 0.5);
          transition: all 0.5s;
          margin: 0 0.05rem;

          &:hover {
            background-color: rgba(0, 0, 0, 0.8);
            .brand-content {
              .brand-content-title {
                color: $theme;
              }
            }
          }

          .brand-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
          }
          .brand-content {
            color: #fff;
            text-align: center;
            .brand-content-title {
              transition: all 0.3s;
              font-size: 0.2rem;
            }
            .brand-content-line {
              width: 0.3rem;
              height: 0.01rem;
              background-color: #fff;
              margin: 0.08rem auto;
            }
            .brand-content-main {
              margin: 0.3rem 0.2rem;
              line-height: 0.26rem;
            }
          }
        }
      }
    }

    @media screen and (max-width: 1240px) {
      .brand-list {
        margin-top: 0.6rem;
        ul {
          li {
            // width: 1.8rem;
            height: 2.4rem;
            border-radius: 0.08rem;
            padding: 0.3rem 0.1rem;
            .brand-bg {
            }
            .brand-content {
              .brand-content-title {
                font-size: 0.16rem;
              }
              .brand-content-line {
              }
              .brand-content-main {
                margin: 0.2rem 0.1rem;
                line-height: 0.26rem;
                font-size: 0.14rem;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 992px) {
      .brand-title {
        font-size: 0.3rem;
      }
      .brand-note {
      }
      .brand-list {
        margin-top: 0.6rem;
        ul {
          li {
            width: 31%;
            height: 2.4rem;
            border-radius: 0.08rem;
            padding: 0.3rem 0.1rem;
            &:nth-child(n + 4) {
              margin-top: 0.1rem;
            }
            .brand-bg {
            }
            .brand-content {
              .brand-content-title {
                font-size: 0.16rem;
              }
              .brand-content-line {
              }
              .brand-content-main {
                margin: 0.2rem 0.1rem;
                line-height: 0.26rem;
                font-size: 0.14rem;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      .brand-list {
        margin-top: 0.4rem;
        ul {
          li {
            width: 30%;
            height: 2.4rem;
            border-radius: 0.08rem;
            padding: 0.2rem 0.1rem;
            &:nth-child(n + 4) {
              margin-top: 0.1rem;
            }
            .brand-bg {
            }
            .brand-content {
              .brand-content-title {
                font-size: 0.14rem;
              }
              .brand-content-line {
              }
              .brand-content-main {
                margin: 0.2rem 0.05rem;
                line-height: 0.24rem;
                font-size: 0.12rem;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 550px) {
      .brand-title {
        font-size: 0.26rem;
      }
      .brand-note {
        font-size: 0.14rem;
      }
      .brand-list {
        margin-top: 0.4rem;
        ul {
          li {
            width: 100%;
            height: 1.8rem;
            border-radius: 0.08rem;
            padding: 0.4rem 0.1rem;
            margin-top: 0.1rem;
            .brand-bg {
            }
            .brand-content {
              .brand-content-title {
                font-size: 0.18rem;
              }
              .brand-content-line {
              }
              .brand-content-main {
                margin: 0.2rem 0.05rem;
                line-height: 0.24rem;
                font-size: 0.14rem;
              }
            }
          }
        }
      }
    }
  }

  .process {
    width: 1200px;
    margin: 40px auto 60px auto;
    text-align: center;
    .process-title {
      font-size: 34px;
    }
    .process-note {
      color: #999;
      margin-top: 20px;
    }
    .process-list {
      margin-top: 40px;
      ul {
        display: flex;
        li {
          text-align: center;
          flex: 1;

          &:hover {
            .process-content {
              .process-content-title {
                .icon-jiantou2 {
                  &.icon1 {
                    opacity: 0;
                    transform: translateX(-50px);
                  }
                  &.icon2 {
                    opacity: 1;
                    transform: translateX(0);
                  }
                }
              }
            }
          }

          .process-img {
            transition: all 0.3s;
            width: 50px;
          }
          .process-content {
            .process-content-title {
              position: relative;
              margin-top: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              .process-text {
                color: #666;
                font-size: 16px;
              }
              .icon-jiantou2 {
                position: absolute;
                margin-top: 4px;
                right: -20px;
                font-size: 40px;
                transition: all 0.3s;
                &.icon1 {
                  opacity: 1;
                  color: #ccc;
                  transform: translateX(0);
                }
                &.icon2 {
                  opacity: 0;
                  color: $theme;
                  transform: translateX(-50px);
                }
              }
            }
            .process-content-main {
              margin-top: 20px;
              color: #999;
              padding: 0 20px;
            }
          }
        }
      }
    }

    .process-btn {
      margin-top: 50px;
      .me-btn {
        margin: auto;
        .iconfont {
          margin-top: 2px;
          font-size: 20px;
          margin-left: 10px;
        }
      }
    }
  }

  .plan {
    background: url("~@/assets/imgs/plan_bg.png") no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 30px 0 20px 0;
    .plan-title {
      font-size: 36px;
    }
    .plan-note {
      margin-top: 10px;
      font-size: 20px;
    }
    .plan-btn {
      margin-top: 20px;
      .me-btn {
        margin: 0 auto;
      }
    }
  }
}
