.home {
  .el-carousel {
    width: 100%;
    img {
      width: 100%;
    }
  }

  .home-data {
    width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    ul {
      display: flex;
      padding: 50px 0;
      li {
        flex: 1;
        display: flex;
        transition: transform 0.5s;
        &:hover {
          transform: translateY(-10px);
        }
        .iconfont {
          font-size: 70px;
          color: #999;
        }
        .data-text {
          margin-left: 30px;
          .data-text-num {
            font-size: 30px;
            color: $theme;
          }
          .data-text-note {
            color: #999;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .service {
    width: 1200px;
    margin: 40px auto 0 auto;
    text-align: center;
    .service-title {
      font-size: 34px;
    }
    .service-note {
      color: #999;
      margin-top: 20px;
    }
    .service-data {
      margin-top: 30px;
      ul {
        display: flex;
        li {
          flex: 1;
          &:hover {
            .service-img {
              transform: translateY(-8px);
            }
            .me-base-btn {
              background-color: $theme;
              color: #fff;
              border: 1px solid transparent;
            }
          }
          .service-img {
            transition: all 0.3s;
            width: 60px;
          }
          .service-li-title {
            font-size: 18px;
            margin: 15px 0;
            color: #666;
          }
          .service-li-text {
            margin-bottom: 10px;
            color: #666;
          }
          .me-base-btn {
            margin: 20px auto;
          }
        }
      }
    }
  }

  .scene {
    height: 800px;
    margin-top: 40px;
    padding-top: 40px;
    position: relative;
    &:before {
      content: "";
      background: url("~@/assets/imgs/home_bg.jpg") no-repeat;
      background-size: cover;
      // opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      // filter: blur(2px);
    }

    .scene-title {
      font-size: 34px;
      color: #fff;
      text-align: center;
    }
    .scene-note {
      color: #ccc;
      margin-top: 20px;
      text-align: center;
    }
    .scene-way {
      margin-top: 50px;
      ul {
        display: flex;
        justify-content: center;
        li {
          width: 240px;
          height: 80px;
          border-radius: 8px;
          background-color: rgba(255, 255, 255, 0.2);
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 70px;
          transition: all 0.5s;
          cursor: pointer;
          &:hover,
          &.active {
            background-color: $theme;
          }
          img {
            width: 60px;
          }
          .scene-way-right {
            margin-left: 10px;
            font-size: 18px;
          }
        }
      }
    }

    .scene-content {
      width: 1200px;
      margin: 50px auto;
      display: flex;
      &:hover {
        .scene-content-left {
          img {
            transform: scale(1.03, 1.03);
          }
        }
        .scene-content-right {
          .scene-content-title {
            color: $theme;
          }
        }
      }

      .scene-content-left {
        flex: 3;
        img {
          transition: all 0.3s;
          width: 100%;
        }
      }
      .scene-content-right {
        flex: 2;
        margin-left: 50px;
        .scene-content-title {
          transition: all 0.3s;
          font-size: 34px;
          font-weight: bold;
          color: #fff;
          margin-top: 40px;
        }
        .scene-content-note {
          color: #ddd;
          margin-top: 50px;
          line-height: 26px;
        }
        .me-btn {
          margin-top: 100px;
        }
      }
    }
  }

  .brand {
    width: 1200px;
    margin: 40px auto 60px auto;
    text-align: center;
    .brand-title {
      font-size: 34px;
    }
    .brand-note {
      color: #999;
      margin-top: 20px;
    }
    .brand-list {
      margin-top: 60px;
      ul {
        display: flex;
        justify-content: space-between;
        li {
          width: 230px;
          height: 300px;
          border-radius: 8px;
          padding: 40px 10px;
          position: relative;
          background-color: rgba(0, 0, 0, 0.5);
          transition: all 0.5s;
          &:hover {
            background-color: rgba(0, 0, 0, 0.8);
            .brand-content {
              .brand-content-title {
                color: $theme;
              }
            }
          }

          .brand-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
          }
          .brand-content {
            color: #fff;
            text-align: center;
            .brand-content-title {
              transition: all 0.3s;
              font-size: 20px;
            }
            .brand-content-line {
              width: 30px;
              height: 1px;
              background-color: #fff;
              margin: 8px auto;
            }
            .brand-content-main {
              margin: 30px 24px;
              line-height: 26px;
            }
          }
        }
      }
    }
  }

  .process {
    width: 1200px;
    margin: 40px auto 60px auto;
    text-align: center;
    .process-title {
      font-size: 34px;
    }
    .process-note {
      color: #999;
      margin-top: 20px;
    }
    .process-list {
      margin-top: 40px;
      ul {
        display: flex;
        li {
          text-align: center;
          flex: 1;

          &:hover {
            .process-content {
              .process-content-title {
                .icon-jiantou2 {
                  &.icon1 {
                    opacity: 0;
                    transform: translateX(-50px);
                  }
                  &.icon2 {
                    opacity: 1;
                    transform: translateX(0);
                  }
                }
              }
            }
          }

          .process-img {
            transition: all 0.3s;
            width: 50px;
          }
          .process-content {
            .process-content-title {
              position: relative;
              margin-top: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              .process-text {
                color: #666;
                font-size: 16px;
              }
              .icon-jiantou2 {
                position: absolute;
                margin-top: 4px;
                right: -20px;
                font-size: 40px;
                transition: all 0.3s;
                &.icon1 {
                  opacity: 1;
                  color: #ccc;
                  transform: translateX(0);
                }
                &.icon2 {
                  opacity: 0;
                  color: $theme;
                  transform: translateX(-50px);
                }
              }
            }
            .process-content-main {
              margin-top: 20px;
              color: #999;
              padding: 0 20px;
            }
          }
        }
      }
    }

    .process-btn {
      margin-top: 50px;
      .me-btn {
        margin: auto;
        .iconfont {
          margin-top: 2px;
          font-size: 20px;
          margin-left: 10px;
        }
      }
    }
  }

  .plan {
    background: url("~@/assets/imgs/plan_bg.png") no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 30px 0 20px 0;
    .plan-title {
      font-size: 36px;
    }
    .plan-note {
      margin-top: 10px;
      font-size: 20px;
    }
    .plan-btn {
      margin-top: 20px;
      .me-btn {
        margin: 0 auto;
      }
    }
  }

  .el-backtop {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: $theme;
    border-radius: 8px;
    .el-icon-arrow-up {
      color: #fff;
      font-size: 30px;
    }
  }
}
